<div class="container">
<h1 class="">Portfolio</h1>
  <div class="row">
    <div class="col-xs-12">
      <h3><a href="#kutures" class="anchor"><i class="fa fa-anchor"></i></a>Kutures</h3>
      <figure>
        <%= image_tag "http://i.imgur.com/0L5p4hp.png", class: "img-responsive", alt: "Product list" %>
        <figcaption>Product list (Auto Refresh)</figcaption>
      </figure>
      <figure>
        <%= image_tag "http://i.imgur.com/UtKDN6k.png", class: "img-responsive", alt: "Trend chart & Product info" %>
        <figcaption>Trend chart & Product info</figcaption>
      </figure>
      <figure>
        <%= image_tag "http://i.imgur.com/DOAGaRc.png", class: "img-responsive", alt: "Trend with cross line" %>
        <figcaption>Trend with cross line</figcaption>
      </figure>
      <figure>
        <%= image_tag "http://i.imgur.com/HiZrBTS.png", class: "img-responsive", alt: "Candle stick chart" %>
        <figcaption>Candle stick chart</figcaption>
      </figure>
      <figure>
        <%= image_tag "http://i.imgur.com/7CAwFLT.png", class: "img-responsive", alt: "Candle stick chart with cross line" %>
        <figcaption>Candle stick chart with cross line</figcaption>
      </figure>
      <figure>
        <%= image_tag "http://i.imgur.com/kh8Zzct.png", class: "img-responsive", alt: "Order details" %>
        <figcaption>Order details</figcaption>
      </figure>
      <figure>
        <%= image_tag "http://i.imgur.com/UMn6eKP.png", class: "img-responsive", alt: "Daily report" %>
        <figcaption>Daily report</figcaption>
      </figure>
      <figure>
        <%= image_tag "http://i.imgur.com/FAokg04.png", class: "img-responsive", alt: "Order control pad" %>
        <figcaption>Order control pad</figcaption>
      </figure>
    </div>
  </div>
</div>